* {
	padding: 0px;
	margin: 0px;
}

body {
	font-size: 1em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #e6e6e6;
}

#top {
	background-color: #f7b600;
	padding: 15px;
	text-align: center;
}

#logo, #menu {
	
	padding: 15px;
}

#principal {
	padding: 15px;
	
	width: 920px;
	margin: 0px auto;
}



#conteudo {
	width: 660px;
	float: left;
}

#menu-lateral {
	width: 240px;
	float: right;
}

#rodape {
	clear: both;
	text-align: center;
	padding: 15px;
	background-color: #ccc;
}

h2 {
	color:#f7b600;
}

.data-post {
	display: block;
	font-size: 0.8em;
	border-bottom: 1px solid #f4f4f4;
	padding-bottom: 10px;
	margin-bottom: 10px;

}










a {
	text-decoration: none;
}

h1 {
	color: #4e4e4e ;
	font-size: 2.5em;
}

a:link, a:visited {
	color: #f7b600;
	
}

a:hover {
	text-decoration: underline;
}

#menu a:link, #menu a:visited {
	color: white;
	padding: 8px 12px;
}

#menu a:hover {
	background-color: #fff;
	color: #f7b600;
	text-decoration: none;
}

.branco {
	color: white;
}


.post {
	margin: 20px;
}

.post-lateral {
	background-color: white;
	padding: 10px;
	margin-bottom: 20px;

}

h3 {
	color: #565656;
	background-color: #ccc;
	padding: 5px;
}

.post-recente {
	font-size: 0.8em;
	padding: 5px;
	border-bottom: 1px dotted #ccc;
}